*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    background-color: rgb(62, 212, 32);
    width: 100%;
    height: 120px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul{
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: space-around;
    color: rgb(24, 22, 22);
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 0 0 1px rgb(1, 1, 1);
    text-transform: uppercase;
}

.img {
    width: 25px;
}

.link {
    text-decoration: none;
    color: black;
}

.btn{
    margin: 10px;
    background-color: black;
}
